<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unity-iPhone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6244F8B83CA20E487C1CD7F41076E00E62B85A10</string>
				<key>dateExpires</key>
				<string>2020/10/03</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G7FH63PE76.jp.co.cyberagent.mockironleage2018.3</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G7FH63PE76</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>G7FH63PE76.jp.co.cyberagent.mockironleage2018.3</string>
				</array>
			</dict>
			<key>name</key>
			<string>team3.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>920c5adf-f744-46be-90ff-d6f6a4566446</string>
				<key>name</key>
				<string>SGE MOCKIRONLEAGE2018 3 ENTERPRISE</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G7FH63PE76</string>
				<key>name</key>
				<string>Cyberagent.Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
